{% extends 'music/base.html' %}
{% block profile_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3>My Profile</h3>
        </div>
        {% if profile %}
            {% for pro in profile %}
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <a href="{% url 'music:detail' pro.id %}">
                            <img src="{{ pro.photo.url }}" class="img-responsive">
                        </a>
                        <div class="caption" style="text-align:center">
                            <!-- View Details -->
                            <a href="{% url 'music:detail' pro.id %}" class="btn btn-primary btn-sm" role="button">My Songs</a>
                            <a href="{% url 'music:update_profile' pro.id %}" class="btn btn-primary btn-sm" role="button">Edit Profile</a>
                        </div>
                    </div>
                </div>
              <div class="col-sm-8 col-md-9">
                 <div class="panel panel-default">
                    <div class="panel-body" style="text-align:center">
                       <h1>{{ pro.name }}</h1>
                        <i><small>from</small></i>
                       <h3>{{pro.hometown}}</h3>
                     </div>
                  </div>
               </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'music:create_profile' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Create Profile
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- If user searches and there are songs -->


</div>
{% endblock %}
